.horblock {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html{
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    padding-inline: 5rem;
    color: #F9FAF8;
}

.sign-up{
    background-color: #3882F6;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: .5rem;
    border: none
}

.signature {
    justify-self: end;
}

.quote {
    font-style: italic;
    padding-inline: 25rem;
}

.thumbnails {
    padding-block: 5rem;
}

.thumbnail {
    justify-items: center;
    width: 10rem;
    padding-inline: 5rem;
}

.thumbnail-placeholder {
    border-color: #3882F6;
    border-radius: 1rem;
    border-style: solid;
    height: 10rem;
    width: 10rem;
}

.content {
    justify-items: center;
    color: #1f2937
}

.title {
    justify-content: space-between;
    padding-block: 5rem;
}

.splash {
    background-color: #353f4d;
    width: 25rem;
    height: 15rem;
}